<div class="well span8">
	<em><%= comment.body %></em>
<% if show_post %>
	on <% link_to comment.post.title, post_path(comment.post) %>
	<% end %>
</br>
	<br />
	<span class= 'quiet'>posted by</span> <%= comment.user.username %> 
	<small> at <%= display_datetime(comment.created_at) %> </small>
</div>