
</p>
<% @post.categories.each do |category| %>
<%= render @post.categories %>
<% end %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<%= @post.description %>
<br />
<% @comments.each do |comment| %>
<%= puts comment %>
<% end %>
</p>
<hr/>