<p class='pull-right'>
	[<%= link_to 'edit this post', edit_post_path(@post) %>]
</p>
<% @post.categories.each do |category| %>
<%= render @post.categories %>
<% end %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<%= @post.description %>
<br />

<hr/>